<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog-Update</title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="../../plugins/fontawesome-free/css/all.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css" />
  </head>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->

      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('blog-sidebar'); -%>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6"></div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <!-- left column -->
              <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">
                      <b style="color: aliceblue">Add</b>
                    </h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form
                    action="/admin/blogupdate"
                    method="post"
                    enctype="multipart/form-data"
                  >
                    <div class="card-body">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input
                          type="hidden"
                          name="id"
                          value="<%= data._id %>"
                        />
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="exampleInputEmail1"
                          placeholder="Enter name"
                          value="<%= data.name %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Title</label>
                        <input
                          type="text"
                          name="title"
                          class="form-control"
                          id="exampleInputPassword1"
                          placeholder="Enter Title"
                          value="<%= data.title %>"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Description</label>
                        <input
                          type="text"
                          name="description"
                          class="form-control"
                          id="exampleInputPassword1"
                          placeholder="Enter Description"
                          value="<%= data.description %>"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Link</label>

                        <input
                          type="text"
                          name="link"
                          class="form-control"
                          id="exampleInputEmail1"
                          placeholder="Enter Link"
                          value="<%= data.link %>"
                        />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Image</label>
                        <img
                          src="<%=data.image %>"
                          style="height: 50px"
                          name="image"
                        />
                        <input
                          type="file"
                          name="image"
                          class="form-control"
                          id="exampleInputPassword1"
                          value="<%= data.image %>"
                          required
                        />
                      </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </form>
                </div>
                <!-- /.card -->
              </div>
              <!--/.col (left) -->
              <!-- right column -->
              <div class="col-md-6"></div>
              <!--/.col (right) -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <footer class="main-footer">
        <strong
          >Copyright &copy;
          <a href="https://ultroneous.com"> 2022 ultroNeous</a>.</strong
        >
        All rights reserved.
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- jquery-validation -->
    <script src="../../plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Page specific script -->

    <script>
      $("#quickForm").submit(async function (event) {
        event.preventDefault();

        var unindexed_array = $(this).serializeArray();
        var data = {};

        $.map(unindexed_array, function (n, i) {
          data[n["name"]] = n["value"];
        });
      });
    </script>
  </body>
</html>
