<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | jsGrid</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- jsGrid -->
  <link rel="stylesheet" href="../../plugins/jsgrid/jsgrid.min.css">
  <link rel="stylesheet" href="../../plugins/jsgrid/jsgrid-theme.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

</head>
<body >
   
    <%- include('sidebar'); -%>
  <!-- /.navbar --
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
      
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item" style="background-color: #007bff; color: aliceblue; margin-top: 44px;
              padding-right: 10px;
              padding-left: 10px;"><a href="clientfeedbackadd" style="color: aliceblue;"><i class="fa fa-plus" aria-hidden="true"></i>Add</a></li>
       
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
  
        <!-- /.card-header -->
        <div class="card-body">
          <div id="jsGrid1">
            <table  class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Company</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Description</th>
                  <th scope="col">image</th>
                  <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i = 0; i < data.length; i++) { %>
                        <tr>
                          <td id="ids"><%= i + 1 %></td>
                          <td><%= data[i].name %></td>
                          <td><%= data[i].company %></td>
                          <td><%= data[i].designation %></td>
                          <td><%= data[i].description %></td>
                       <td><img src="<%= data[i].image %>" style="width: 2.5rem; height: 2.5rem;"></td>
                       <td> 
                        
                         <ul class="list-inline m-0">
                          <div class="col-sm-2"> 
                        <li class="list-inline-item">
                          <a  class="btn btn-danger btn-sm rounded-0" id="deleted" data-toggle="tooltip" data-placement="top" title="Delete" data-id=<%= data[i]._id%>><i class="fa fa-trash"></i></a>
                      </li>
                          </div>
                      <div class="col-sm-2"> 
                        <li class="list-inline-item">
                            <a href="clientfeedback?id=<%= data[i]._id%>" class="btn btn-success btn-sm rounded-0" id="edit" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></a>
                        </li>
                      </div>
                    </ul></td>
                         </td>
                        
                        </tr>
    
                        <% } %> 
                 
                </tbody>
              </table>
          </div>
        </div>
    
  <!-- /.content-wrapper -->

  <script src="/public/js/index.js"></script>

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jsGrid -->
<script src="../../plugins/jsgrid/demos/db.js"></script>
<script src="../../plugins/jsgrid/jsgrid.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.0/axios.min.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
});

$(document).on("click", "#deleted", async function () {
    var id = $(this).attr("data-id")

    var request = {
        "url": `http://localhost:8000/admin/clientfeedbackdelete/${id}`,
        "method": "post"
    }

    if (confirm("Do you really want to delete this record?")) {
        $.ajax(request).done(function (response) {
            alert("Data Deleted Successfully!");
            location.reload();
    
        })

    }

})

</script>
</body>
</html>